@use "sanitize.css/sanitize.css";
@use "sanitize.css/system-ui.css";
@use "sanitize.css/typography.css";
@use "sanitize.css/assets.css";

:root {
  --tint-primary: #993333;

  --user-font-size: 16px;
  --user-font-scale: calc(1rem - var(--user-font-size));
}

h2 {
  font-size: 1.2rem;
  color: var(--tint-primary);
}

blockquote {
  font-style: italic;
}

a {
  color: inherit;
}
