<div class="navigation">
  <a href="/" title="Home" class="logo">
    <img
      src="/images/houseoflords.jpg"
      alt="The House of Lords"
      width="232"
      height="230"
    />
  </a>
  <nav class="links">
    <a href="/how/">How it works</a>
    <a href="/about/">About This Campaign</a>
    <a href="/faqs/">Frequently Asked Questions</a>
    <a href="/links/">News & Links</a>
    <a href="mailto:billybragg@secondarymandate.org" target="_blank">Contact Us</a>
  </nav>

  <button class="navigation__menubtn" data-component="menubtn">Menu</button>
</div>

<style lang="scss">
  .navigation {
    --translate: -100%;

    display: grid;
    grid-template-rows: 230px 1fr;
    align-items: start;
    gap: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    width: max-content;
    height: 100%;
    transform: translateX(var(--translate));
    background: white;
    transition: transform 0.5s ease-in-out;

    :global(.menu-open) & {
      --translate: 0;
    }

    @media (min-width: 768px) {
      --translate: 0;
      position: static;
    }
  }

  .navigation__menubtn {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0;
    font-size: 1.125rem;
    cursor: pointer;
    background: var(--tint-primary);
    color: white;

    @media (min-width: 960px) {
      display: none;
    }
  }

  .logo img {
    display: block;
    width: 100%;
    aspect-ratio: 1;

    @media (min-width: 768px) {
      width: 232px;
    }
  }

  .links {
    display: grid;

    padding: 1rem;

    @media (min-width: 768px) {
      padding: 0;
    }

    & a {
      --wh: 0.6rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: 0.5rem 0;
      text-decoration: none;

      &:focus,
      &:hover {
        color: var(--tint-primary);
      }

      &::before {
        content: "";
        width: var(--wh);
        height: var(--wh);
        border-radius: var(--wh);
        background-color: currentColor;
      }
    }
  }
</style>
