---
import Nav from "../components/nav.svelte"

const {title} = Astro.props;
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title} - The Secondary Mandate</title>

  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@billybragg">
  <meta name="twitter:creator" content="@oliverturner">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="https://secondarymandate.oliverturner.cloud/assets/opengraph.png">
</head>
<body class="app">
  <div class="app__nav">
    <Nav />
  </div>

  <main class="app__content">
    <header class="header">
      <img class="header__image" src="/images/ballot_box.jpg" alt="A ballot box" width="80" height="127">

      <h3 class="header__title">The Secondary Mandate</h3>
      <p class="header__strapline">A viable method of democratic Lords reform</p>
    </header>
    <slot />

    <footer class="footer">
      Design by twobrowngirls.com
    </footer>
  </main>
</body>
</html>

<style lang="scss">
  .app__nav {
    @media (min-width: 768px) {
      position: sticky;
      top: 0;
    }
  }

  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image title"
      "image strapline";
    gap: 1rem;

    @media (min-width: 768px) {
      margin-top: 2rem;
    }
  }

  .header__image {
    grid-area: image;

    width: 100%;
    height: auto;
  }

  .header__title {
    grid-area: title;
    align-self: end;

    margin: 0;
    font-size: 1.5rem;
  }

  .header__strapline {
    grid-area: strapline;

    margin: 0;
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--tint-primary)
  }

  .footer {
    margin-top: 3.5rem;
    padding: 1rem;
    text-align: center;
  }
</style>
