---
import Nav from "../components/nav.astro"

const { content } = Astro.props;
const { title } = content;

---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title} - The Secondary Mandate</title>

  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href={Astro.resolve("../styles/global.scss")}>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@billybragg">
  <meta name="twitter:creator" content="@oliverturner">
  <meta property="og:url" content="https://secondarymandate.oliverturner.cloud">
  <meta property="og:title" content="The Secondary Mandate">
  <meta property="og:description" content="A viable method of democratic Lords reform">
  <meta property="og:image" content="https://secondarymandate.oliverturner.cloud/assets/opengraph.png">
</head>
<body class="app">
  <div class="app__nav">
    <Nav />
  </div>

  <main class="app__content">
    <header class="header">
      <img class="header__image" src="/images/ballot_box.jpg" alt="A ballot box" width="80" height="127">

      <h3 class="header__title">The Secondary Mandate</h3>
      <p class="header__strapline">A viable method of democratic Lords reform</p>
    </header>
    <slot />

    <footer class="footer">
      Design by twobrowngirls.com
    </footer>
  </main>

  <script>
    const root = document.querySelector(":root");
    const menubtn = document.querySelector("[data-component='menubtn']");
    menubtn.addEventListener("click", () => {
      root.classList.toggle("menu-open");
    });
  </script>
</body>
</html>

<style lang="scss">
  :global(body) {
    display: grid;
    grid-template-columns: 0 1fr;
    align-items: start;
    gap: 1rem;

    max-width: 80ch;
    margin: auto;
    padding: 1.5rem;
    font-size: clamp(
      0.875rem,
      0.4626rem + 1.0309vw + var(--user-font-scale),
      1rem
    );

    @media (min-width: 768px) {
      grid-template-columns: 232px 1fr;
      grid-template-rows: 1fr;

      padding: 0 1.5rem;
    }

    @media (min-width: 960px) {
      padding: 0;
    }
  }

  .app__nav {
    position: relative;
    z-index: 2;

    @media (min-width: 768px) {
      position: sticky;
      top: 0;
    }
  }

  .app__content::after {
    transition: opacity 1s ease-in-out;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;

    :global(.menu-open) & {
      --alpha: 0.5;

      content: "";
      opacity: 1;
    }
  }

  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image title"
      "image strapline";
    gap: 1rem;

    @media (min-width: 768px) {
      margin-top: 2rem;
    }
  }

  .header__image {
    grid-area: image;

    width: 100%;
    height: auto;
  }

  .header__title {
    grid-area: title;
    align-self: end;

    margin: 0;
    font-size: 1.5rem;
  }

  .header__strapline {
    grid-area: strapline;

    margin: 0;
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--tint-primary)
  }

  .footer {
    margin-top: 3.5rem;
    padding: 1rem;
    text-align: center;
  }
</style>
